PORT=5000
NODE_ENV=development
DB_URL=postgresql://neondb_owner:npg_eY2fnSaZ6jFW@ep-muddy-frog-admtqk53-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=your_refresh_secret_key_here
JWT_REFRESH_EXPIRES_IN=30d
REDIS_URL=redis://default:QlJfQ4UfOnB6mPbczil89X0xR5xUbU3m@transport-superradiant-resonant-89805.db.redis.io:17375
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=your_meilisearch_api_key
CLIENT_URL=https://maliquez-connect.vercel.app/